---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Ich bin Jan Pietsch aus Hannover.
		Obwohl ich einen Master in Maschinenbau anstrebe, habe ich mich während meines Studiums
		immer mehr in die Softwareentwicklung verliebt.
		Dank der recht großen Auswahl an Wahlpflichtfächern verschiedener Disziplinen konnte ich
		mir so viele Einblicke und Kenntisse aus der praktischen Informatik aneignen.
		Aber auch abseits des Studiums gab es sowohl beruflich als auch intrinsisch viele Möglichkeiten
		sich ausführlich und intensiv mit verschiednenen Aspekten rund um Software und Operations zu befassen.
	</p>

	<p>
		Während des Studiums durfte ich Erfahrungen in StartUps, aber auch in großen Konzernen sammeln.
		Dabei habe ich sowohl in der Entwicklung als auch im Be- und Vertrieb von Software gearbeitet.
		Ich mag die Arbeitsweise in argilen Teams und die Freiheit, die flexible Arbeitszeiten und -orte mit sich bringen.
		Aber eben auch das Tagelange reingrinden in bestimmtes Problem, bis endlich eine Lösung gefunden wird.
	</p>

	<p>under construction ...</p>
</Layout>
