---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="de">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Moin,</h1>
			<p>
				ich bin <strong>Jan</strong>, ein Ingenieur aus Hannover.
			</p>
			<p>	
				In diesem Blog schreibe ich und dokumentiere ich kleine Projekte, Ansätze und Recherchen, 
				vorwiegen um mich selbst später daran erinnern zu können.
				Ziel ist es, dass ich nicht mehr ständig alte Repos durchsuchen muss, um Lösungen für Probleme zu finden, 
				mit denen ich mich bereits beschäftigt habe.
				Falls jemand durech Zufall hier gelandet ist und etwas hilfreich findet, freut mich das natürlich.
			</p>

			<p>
				Hauptsächlich wird um folgende Themen gehen:
				<ul>
					<li>Softwareentwicklung</li>
					<ul>
						<li>Python</li>
						<li>Go</li>
						<li>Typescript</li>
					</ul>
					<li>Webentwicklung/PWA</li>
					<ul>
						<li>Nuxt</li>
						<li>Vue</li>
						<li>(Angular)</li>
					</ul>
					<li>DevOps</li>
					<ul>
						<li>Docker</li>
						<li>CI/CD</li>
						<li>Github Actions</li>
					</ul>
					<li>LLM</li>
					<ul>
						<li>Lokale LLMs</li>
						<li>Langchain</li>
					</ul>
			</p>
		</main>
		<Footer />
	</body>
</html>
